%p #{@contact_form.name} has submitted a contact form on Commerce Wholesale. The details are:
%ul
  %li
    %strong Name
    = @contact_form.name
  %li
    %strong Email
    = @contact_form.email
  %li
    %strong Company
    = @contact_form.company
  %li
    %strong Regarding
    = @contact_form.regarding
  %li
    %strong Message
    = @contact_form.message
