<article class="fair-lending wrapper">
  <%= wicked_pdf_image_tag("logo-all-black.png", :class=>"logo") %>  
  <h2 class="align-center">FAIR LENDING ACKNOWLEDGEMENT</h3>
  <p>
    <strong>IT IS AGAINST COMMERCE HOME MORTGAGE WHOLESALE POLICY TO DISCRIMINATE ON ANY BASIS, INCLUDING A LOAN APPLICANT'S RACE, NATIONAL ORIGIN, RELIGION, MARITAL STATUS, GENDER, OR AGE. </strong>
  </p>
  <p>
    Uniting communities through residential lending is a core value of Commerce Home Mortgage Wholesale. Any act of discrimination violates Commerce Home Mortgage Wholesale policy and its corporate philosophy of providing homeownership opportunities to all qualified applicants. Our stand on nondiscrimination is absolute; there is zero tolerance for any discriminatory act or behavior. Treating everyone fairly and making decisions based solely on creditworthiness is in everyone's best interest. It is our policy and our practice to comply fully with the letter and more importantly the spirit of the fair lending statutes, including but not limited to those cited below. Additionally, we commit to adhere to all state, municipal and local laws, regulations, statutes and all other laws regulating our industry. 
  </p>
  <p>
    We expect all of our broker partners to fully understand fair lending practices and to deal fairly and equally with all loan applicants. We insist that all negotiations are in good faith and without bias. We require that the letter and the spirit of fair lending practices, the following Federal laws, and all statutes governing lending and equal rights be complied within each jurisdiction that the broker partners conducts business. 
  </p>
  <p>
    <strong>CONSISTENT AND FAIR TREATMENT</strong>
  </p>
  <p>
    It is the policy of Commerce Home Mortgage Wholesale and its subsidiaries and affiliated entities policy, to treat all consumers consistently and fairly and in compliance with fair lending laws. Our employees will offer assistance, encouragement and services in a fair, equitable and consistent manner during performance of their jobs. We will communicate our fair lending policy to all of our broker partners and hold them accountable for treating all consumers consistently and fairly. Commerce Home Mortgage Wholesale does not discriminate based on: 
  </p>
  <ul class="horizontal-list circle-bullet">
    <li>
      Race
    </li>
    <li>
      Family Status*
    </li>
    <li>
      Marital Status
    </li>
    <li>
      National Origin 
    </li>
    <li>
      Handicap
    </li>
    <li>
      Receipt of Public Assistance
    </li>
    <li>
      Age**
    </li>
    <li>
      Color   
    </li>
    <li>
      Religion
    </li>
    <li>
      Exercise of Consumer Right
    </li>
  </ul>
  <%= wicked_pdf_image_tag("fair_lending_1.png") %>
  <%= wicked_pdf_image_tag("fair_lending_2.png") %>
  <br/>
  <br/>
  <h4>
    As a condition of entering into and maintaining a business relationship with Commerce Home Mortgage Wholesale, the undersigned: 
  </h4>
  <ol class="numerical">
    <li>Acknowledges understanding of Commerce Home Mortgage Wholesale fair lending policy</li>
    <li>agrees to comply with the letter and spirit of all Federal, State, and local licensing, lending, disclosure, and consumer protection laws;</li>
    <li> agrees to educate its principals, employees, affiliates, and agents about fair lending practices and the above laws; and</li>
    <li> agrees to advise Commerce Home Mortgage Wholesale immediately upon ascertaining any violation of the above laws by its principals, employees, affiliates, third-party services providers or agents. </li>
  </ol>
  <br/>
  <br/>
  <h4>
    <strong><%= broker_approval_form.company %></strong>
  </h4>
  <p>
    <strong>Broker of Record Signature</strong>
  </p>
  <table class= "signature_table">
    <tbody>
      <tr>
        <td colspan="2">
          <span>Signature</span>
          <span><%= broker_approval_form.broker_of_record %></span>
          <span>Its: Broker of Record</span>
        </td>
        <td colspan="1">Date</td>
      <tr>
    </tbody>
  </table>
  <p>
    <strong>Principle/Owner of Company Signature</strong>
  </p>
  <table class= "signature_table">
    <tbody>
      <tr>
        <td colspan="2">
          <span>Signature</span>
          <span><%= broker_approval_form.company_president %></span>
          <span>Its: President</span>
        </td>
        <td colspan="1">Date</td>
      <tr>
    </tbody>
  </table>
  <p>
    <small>
    * Whether or not someone has children under the age of 18. <br/>
    ** Provided the person has the capacity to enter into a contract.
    </small>
  </p>
</article>
