<article class="type-system-rounded fha_sponsorship wrapper"> 
  <%= wicked_pdf_image_tag("logo-all-black.png", :class=>"logo") %> 
  <h2 class="align-center">SPONSORSHIP OF BROKER FOR FHA MORTGAGE LOANS</h3>
  <p>
    Whereas <%= broker_approval_form.company %>, <%= broker_approval_form.company_type %> (“Broker”) wishes to be sponsored by Commerce Home Mortgage Wholesale (“Lender”) to originate and process FHA Loans to be presented to Lender for underwriting and funding, the parties agree to the following:
  </p>
  <h3><strong>FHA Sponsorship</strong></h3>
  <p>
    Lender may at its sole option, sponsor the Broker to originate and process FHA loans with Lender. Lender may at any time, with or without cause, notify the Broker that Lender will terminate Lender’s sponsorship of the Broker. As of the effective date of the termination, Lender shall cease accepting Loan Application Packages which are FHA Mortgage Loans with the Broker.
  </p>
  <h3><strong>Compliance with Lender’s Requirements</strong></h3>
  <p>
    Should Lender sponsor the Broker as an FHA Originator, the Broker shall comply with all of Lender’s requirements including Lender’s policies with respect to Compensation. The Broker acknowledges that Lender alone shall underwrite all Applications for FHA Mortgage Loans, and that all approved FHA Mortgage Loans shall be closed and funded in the name of Lender.
  </p>

  <h3><strong>Compliance with Lender’s Requirements</strong></h3>

  <p>
    Should Lender sponsor the Broker as an FHA Originator, the Broker shall comply with all of Lender’s requirements including Lender’s policies with respect to Compensation. The Broker acknowledges that Lender alone shall underwrite all Applications for FHA Mortgage Loans, and that all approved FHA Mortgage Loans shall be closed and funded in the name of Lender.
  </p>
  <h3><strong>FHA Mortgage Loans</strong></h3>
  <p>
    Broker, upon sponsorship by Lender will be sponsored as an FHA Originator, the Broker shall comply in all respects with all lending requirements of FHA and all requirements of FHA pertaining to or governing FHA Originators, respectively. For each FHA Mortgage Loan, the Broker shall obtain an FHA Approval by Lender, and cause all conditions for the FHA approval to be met.
  </p>
  <h3>
    <strong>GNMA Requirements</strong>
  </h3>
  <p>
    Each FHA Mortgage Loan shall comply with GNMA Requirements as of the date of the closing of such FHA Mortgage Loan.
  </p>
  <h3>
    <strong>
      Notification of Disciplinary or other action by FHA, HUD, GNMA, another Lender or any Agency
    </strong>
  </h3>
  <p>
    The Broker shall notify Lender in writing within 10 days following the initiation or threat of any disciplinary action, enforcement action, lawsuit, administrative proceeding or similar action or proceeding by FHA, HUD, GNMA, another Lender or any Agency or if any pending investigation by FHA, HUD or GNMA, another Lender, or any Agency against the Broker or any of the Broker’s affiliated companies, or against any of the directors, officers, employees, or agents of either the Broker of any of the Broker’s affiliated companies.
  </p>
  <h3>
    <strong>
      FHA Mortgage Loans Eligibility
    </strong>
  </h3>
  <p>
    Broker understands and agrees that FHA Mortgage Loans must be in full compliance with the Lender’s requirements and, as applicable, the requirements of FHA as of the date of the FHA Approval is issued, provided, however, that the effective dates established by FHA for any amendments to that agency’s rules or Lender or Lender’s investor shall apply to the FHA Mortgage Loan. Each FHA Mortgage Loan is in full compliance with GNMA requirements as of the date of each closing of such FHA mortgage loans.
  </p>
  <div class="page-break"></div>
  <h3>
    <strong>
      GNMA Representations and Warranties
    </strong>
  </h3>
  <p>
    The Broker represents and warrants to Lender those representations and warranties contained in the GNMA requirements with respect to each FHA Mortgage Loan.
  </p>
  <p>
    <strong>
      IN WITNESS WHEREOF, 
    </strong>
    the undersigned have executed or caused this Addendum to be executed by their respective authorized officers/personnel.
  </p>
  <table>
    <tbody>
      <thead>
        <tr>
          <td>
            <%= broker_approval_form.company %>, <%= broker_approval_form.company_type %>
          </td>
          <td>
            FHA Sponsorship Originator's Information
          </td>
        <tr>
      </thead>
    </tbody>
  </table>
  <table>
    <tbody>
      <tr>
        <td>
          Signature
          <span><%= broker_approval_form.company_president %></span>
          <span>It's: President</span>
        </td>
        <td>
          Broker FHA ID
        </td>
      <tr>
      <tr>
        <td>
          Date
        </td> 
        <th>
          <span><%= broker_approval_form.company %>,</span> 
          <span><%= broker_approval_form.company_type %></span>
          <span>
            DBA: <%= broker_approval_form.dba %>
          </span>
          <span>
            <%= broker_approval_form.address %>
          </span>
          <span>
            <%= broker_approval_form.city %>, 
            <%= broker_approval_form.state.code %> 
            <%= broker_approval_form.zip %>
          </span>
          <span>
            NMLS: <%= broker_approval_form.nmls %>
          </span>
        </th>
      <tr>
      <tr>
        <th>
        </th>
        <td>
          EIN
        </td>
      </tr>
      <tr>
        <th>
        </th>
        <td>
          Contact Name
        </td>
      </tr>
      <tr>
        <th>
        </th>
        <td>
          Contact Email
        </td>
      </tr>
      <tr>
        <th>
        </th>
        <td>
          Telephone
        </td>
      </tr>
      <tr>
        <th>
          <span>Lender</span>
          <span>Commerce Home Mortgage,</span>
          <span>dba Commerce Home Mortgage Wholesale</span>
        </th>
      </tr>
      </thead>  
      <tr>
        <th>
        </th>
        <th>
        </th>
      </tr>
      <tr>
        <td>
          <span> Scott Simonich </span>
          <span>Its: President and CEO</span>
        </td>
        <td>
          Date
        </td>
      </tr>
  </tbody>
</table>
