<article class="type-system-rounded wrapper"> 
  <%= wicked_pdf_image_tag("logo-all-black.png", :class=>"logo") %>
  <h2 class="align-center">Mortgage Broker Agreement</h2>
  <p>
    This Mortgage Broker Agreement ("Agreement") is made and entered into as of this <%= broker_approval_form.created_at.day %> day of <%= broker_approval_form.created_at.month %> (month), <%= broker_approval_form.created_at.year %> (year)("Effective Date") at San Ramon, California, by and between Commerce Home Mortgage, Inc. DBA Commerce Home Mortgage Wholesale, or such other lawful name or names as it may choose in its discretion from time to time ("Lender") and <%= broker_approval_form.company %>, ("Broker"), a <%= broker_approval_form.state.name %> (state), <%= broker_approval_form.company_type %>. Lender and Broker are also referred to herein individually as a "Party," and collectively as the "Parties."
  </p>
  <h2 class="align-center">Recitals</h2>
  <ol class="list up-alpha">
    <li>
      <p>
        Broker is engaged in the business of arranging, negotiating, and/or brokering consumer loans secured by residential real property (each, a "Mortgage Loan").
      </p>
    </li>
    <li>
      <p>
        Lender accepts Mortgage Loan application packages (each, an "Application") from mortgage brokers for funding consideration.
      </p>
    </li>
    <li>
      <p>
        Lender and Broker desire to establish a non-exclusive relationship whereby Broker will submit to Lender Applications for Mortgage Loans for funding consideration. 
      </p>
    </li>
    <li>
      <p>
        <strong>IN CONSIDERATION</strong> of the mutual promises and covenants contained herein, Lender and Broker agree as follows: 
      </p>
  </ol>
  <ol class="list numerical">
    <li>
      <p>
        <u>Brokerage of Mortgage Loans.</u> Broker agrees to broker Mortgage Loans to Lender, and Lender agrees to close and fund such Mortgage Loans in its own name and with its own funds, in accordance with and subject to the terms and conditions of this Agreement. No obligation is created by this Agreement for Broker to broker or Lender to close and fund, a particular number of Mortgage Loans, or any particular Mortgage Loan. 
      </p>
    </li>
    <li>
      <u>Broker’s Representations and Warranties.</u>
      <ol class="list low-alpha">
        <li>
          <p>
            <u>Representations and Warranties With Respect to Mortgage Loans.</u> Broker represents and warrants to and for the benefit of Lender as to each Mortgage Loan originated, processed and/or brokered by Broker hereunder, on the date that Broker submits each Application to Lender, and again at the time of Lender’s funding of each Mortgage Loan, that:
          </p>
          <ol class="list low-roman">
            <li>
              <p>
                The Loan has been originated according to acceptable industry standards and in compliance with all applicable statutes, regulations, ordinances, rules and agency guidelines, then in effect; 
              </p>
            </li>
            <li>
              <p>
                There are no agreements with the borrower other than those set forth in the Mortgage Loan documents and no cash or other consideration will be paid by any party to anyone other than through the escrow established to close the transaction;
              </p>
            </li>
            <li>
              <p>
                To Broker’s knowledge (for all purposes of this Agreement, the term "knowledge" shall mean those matters of which Broker or its employees or agents has knowledge or is aware or reasonable should have knowledge or be aware), all information contained in each Application, and in each document submitted by Broker in connection with each Mortgage Loan, including all signatures thereon, is genuine, complete and accurate; no such information has been changed or modified in any manner after its execution; no fraudulent or misleading information (including, without limitation, any information obtained from or concerning a borrower or the secured property, any credit report regarding the borrower, or any appraisal report regarding the secured property) has been provided to Lender in connection with a Mortgage Loan; and there is no information, nor has there been any omission of any information, that would contradict or render inaccurate any information or documentation submitted by Broker to Lender in connection with a Mortgage Loan;
              </p>
            </li>
            <li>
              <p>
                Broker has no knowledge of and has not concealed any information which would adversely or materially affect Lender’s decision to fund a Mortgage Loan or which would otherwise cause a Mortgage Loan to be considered not of investment quality; 
              </p>
            </li>
            <li>
              <p>
                To Broker’s knowledge, the real property securing the Mortgage Loan is free and clear of all mechanics’ liens or liens in the nature thereof, and no rights are outstanding that under law could give rise to any such lien, nor is Broker aware of any facts which could give rise to any such lien; 
              </p>
            </li>
            <li>
              <p>
                Broker has complied with both the terms and the spirit of all federal, state and local statutes, regulations, ordinances, rules and agency guidelines applicable to consumer credit transactions secured by residential real property, including but not limited to: the Truth-in-Lending Act, and Regulation Z; the Real Estate Settlement Procedures Act, and Regulation X; the Equal Credit Opportunity Act, and Regulation B; the Home Mortgage Disclosure Act, and Regulation C; the Fair Housing Act; the Fair Credit Reporting Act; the Flood Disaster Protection Act; the Bank Secrecy Act; all applicable federal and state statutes, regulations and/or rules governing fraud, predatory lending, lack of consideration, unconscious ability, consumer credit transactions, consumer protection, interest or other charges, licensing and mortgage insurance; and all requirements imposed by the Consumer Financial Protection Bureau and other applicable boards commissions, bureaus and instrumentalities;
              </p>
            </li>
            <li>
              <p>
                Broker understands that on February 14, 2012, the United States Department of Treasury Financial Crimes Enforcement Network issued a final rule (31 CFR parts 1010 and 1029 Anti-Money Laundering Program and Suspicious Filing Report Filing Requirements for Residential Mortgage Lenders and Originators) requiring non-bank residential mortgage lenders, mortgage loan brokers and originators to establish an Anti-Money Laundering Program and to file Suspicious Activity Reports (SARs) under the Bank Secrecy Act (BSA), and Broker acknowledges that these obligations apply to his/her/its activities and represents that he/she/it has developed and implemented an Anti-Money Laundering and Bank Secrecy Act program that complies with 31 CFR parts 1010 and 1029;</li>
            <li>
              <p>
                To Broker’s knowledge, no Mortgage Loan is the subject of, and there are no facts which could give rise to, litigation which could affect Lender’s ability to enforce the terms of the obligation or its rights under the Mortgage Loan documents;
              </p>
            </li>
            <li>
              <p>
                To Broker’s knowledge, no improvement located on or being part of the real property security is in violation of any applicable zoning law, building permit ordinance or regulation;
              </p>
            </li>
            <li>
              <p>
                To Broker’s knowledge, there is no proceeding pending for total or partial condemnation of any real property security and said real property is free of substantial damage (including, but not limited to, any damage by fire, earthquake, windstorm, flood, vandalism or other casualty) and in good repair;
              </p>
            </li>
            <li>
              <p>
                To Broker’s knowledge, there are no circumstances or conditions with respect to any Mortgage Loan, real property security and/or the borrower’s credit standing that reasonably could be expected to cause an institutional investor to regard any Mortgage Loan as an unacceptable investment, cause any Mortgage Loan to become delinquent or adversely affect the value or marketability of any Mortgage Loan; 
              </p>
            </li>
            <li>
              <p>
                To Broker’s knowledge, all statements made by the borrower in each Application including, without limitation, all statements regarding the borrower’s income and his/her occupancy of the real property security, and all documents submitted by Broker related to the Mortgage Loan, are true, correct and complete.
              </p>
            </li>
            <li>
              <p>
                To Broker’s knowledge, all parties to the Mortgage Loan documents have the legal capacity to enter into such documents. If Broker drafted or was responsible for drafting all Mortgage Loan documents, said Mortgage Loan documents contain customary and enforceable provisions such as to render the rights and remedies of the holder thereof adequate for the realization against the real property security of the benefits of the security provided thereby, including: (i) in the case of a Mortgage Loan secured by a deed of trust, by trustee’s sale; (ii) otherwise, by non-judicial foreclosure to the extent not prohibited by applicable law, and if prohibited, by judicial foreclosure; 
              </p>
            </li>
            <li>
              <p>
                To Broker’s knowledge, the real property security for each Mortgage Loan complies with all applicable federal, state and local legal and regulatory requirements pertaining to environmental matters, and no hazardous material has been or was incorporated in, stored on or under, or released from, treated on, transported to or from and/or disposed on or from the real property security. Broker represents and warrants that neither it nor, to Broker’s knowledge, the borrower has received notification from any federal, state or other governmental authority relating to hazardous material on or affecting the real property security or to any potential or known liability under any environmental law arising from the ownership or operation of the real property security; and
              </p>
            </li>
            <li>
              <p>
                Broker has complied with the all applicable law, including but not limited to the Truth in Lending Act and Regulation Z, the requirements of the FHA and VA, the Freddie Mac and Fannie Mae’s Appraiser Independence Requirements, and Title XI of the Financial Institutions Reform, Recovery, and Enforcement Act of 1989 and the regulations promulgated thereunder, all as in effect on the date the Mortgage Loan was originated.
              </p>
            </li>
          </ol>
        </li>
        <li>
          <p>
            <u>Other Representations and Warranties.</u> 
            Broker further represents and warrants to and for the benefit of Lender that as of the date first set forth above, on the date of the submission to Lender of an Application, and again at the time of Lender’s funding of each Mortgage Loan hereunder, that:
          </p> 
          <ol class="list low-roman">
            <li>
              <p>
                Broker is duly organized, validly existing and in good standing under the laws of the jurisdiction of Broker’s organization, Broker is qualified, licensed, approved, registered and/or authorized as necessary to transact business, including the arranging, negotiating and origination of the Mortgage Loans, and each of Broker’s employees are properly qualified, licensed, approved, registered and/or authorized as necessary to perform their services for and on behalf of Broker, including the arranging, negotiating and origination of the Mortgage Loans;
              </p>
            </li>
            <li>
              <p>
                Broker has, and will maintain during the term of this Agreement, the requisite power and authority to enter into, and perform its obligations under, this Agreement; 
              </p>
            </li>
            <li>
              <p>
                This Agreement has been duly authorized, executed, and delivered to Lender and constitutes a valid, legally binding and enforceable agreement, except as such enforcement may be limited by bankruptcy, insolvency, reorganization, receivership, moratorium or other laws relating to or affecting the rights of creditors generally, and by general equity principles; 
              </p>
            </li>
            <li>
              <p>
                The execution and performance of this Agreement will not violate any provision of any organizational document, instrument, agreement, judgment, order, statute, or regulation by which Broker is bound or to which it is a party or require the consent of any other person or governmental authority (unless such consent has been obtained); 
              </p>
            </li>
            <li>
              <p>
                There is no action, proceeding, or investigation pending or, to Broker’s knowledge, threatened, that has or would have an adverse effect on Broker’s performance of its obligations under this Agreement or which questions the validity of this Agreement or of any action taken or to be taken pursuant thereto;
              </p> 
            </li>
            <li>
              <p>
                No consent, approval, authorization or order of any court, government body or any other person or entity is required for the execution, delivery and performance by Broker of this Agreement; 
              </p>
            </li>
            <li>
              <p>
                Broker is not a party to, bound by or in breach or violation of any agreement or instrument, or subject to or in violation of any statute, order or regulation of any court, regulatory body, administrative agency or governmental body having jurisdiction over it, which materially and adversely affects, or may in the future materially and adversely affect, the ability of Broker to perform its obligations under this Agreement, including, without limitation, Broker’s purchase and indemnification obligations pursuant to this Agreement; 
              </p>
            </li>
            <li>
              <p>
                No statement, report, document or other information provided by Broker to Lender, or to be provided by Broker to Lender pursuant to this Agreement contains, or will contain, any misrepresentation or untrue statement of fact by Broker or, to Broker’s knowledge, by any other person or omits, or will omit, to state a fact necessary to make the information contained therein not misleading; and 
              </p>
            </li>
            <li>
              <p>
                Broker is not and has never been, the subject of disciplinary proceedings, license suspension or revocation by Fannie Mae, Freddie Mac, Ginnie Mae, HUD, FHA, VA or any other governmental or quasi-governmental agency or regulatory body which have not been disclosed in writing to Lender, and does not and will not employ any Person that is or has been 
              </p>
            </li>
          </ol>
        </li>
      </ol>
    </li>
    <li>
      <u>Performance Requirements.</u> 
      <ol class="list low-alpha">
        <li>
          <p>
            <u>Submission of Applications.</u> Subject to the terms of this Agreement, Broker may from time to time submit to Lender Applications for Mortgage Loans in accordance with the lending program requirements provided to Broker by Lender, which requirements, as may be in effect from time, are incorporated herein by reference; provided, however, that any such submission, in and of itself, shall not be construed as creating any obligation on the part of Lender to accept any Application(s) from Broker or, after acceptance, to fund a Mortgage Loan. Lender shall have sole discretion in connection with all funding decisions. All Mortgage Loans shall close in Lender’s name. Broker shall not represent to any borrower that Lender has approved or will approve and/or fund any Mortgage Loan until such time as Lender has so informed Broker in writing. At the time of the submission of any Application, Broker shall properly prepare and furnish to Lender, in the form required, such information, items or documents as Lender may require, and shall provide any additional documentation requested, including information Lender requires complying with applicable federal laws and regulations.
          </p>
        </li>
        <li>
          <p>
            <u>Investigations.</u> Broker will make such investigations and inquiries as reasonably required to verify the truthfulness and completeness of all information relating to a borrower’s creditworthiness in connection with an Application for a Mortgage Loan. If at any time during the period between the submission of an Application and the closing and funding of a Mortgage Loan, Broker learns, or has reason to believe, that any of its representations and/or warranties are no longer factually accurate or true, Broker shall immediately provide notice thereof to Lender. Broker acknowledges that Lender has relied, and will continue to rely on, all of Broker’s representations, warranties and covenants given in this Agreement, regardless of whether Lender had the opportunity to, or did, independently verify or investigate any of the information submitted by Broker at any time, whether prior to funding or thereafter. The provisions of this Section 3(b) may not be waived other than by a writing signed by Lender.
          </p>
        </li>
        <li>
            <p>
              <u>Underwriting.</u> Underwriting approval shall be at the sole discretion of Lender. Lender may change its underwriting standards at any time during the term of this Agreement.
            </p> 
        </li>
        <li>
          <p>
            <u>Form of Applications and Documentation.</u> All Applications, and all documents related thereto, shall be in a form and substance approved by Lender. Lender may, in its sole discretion, change the form or content of any information related to an Application and/or Mortgage Loan. 
          </p>
        </li>
        <li><u>Disclosures.</u> 
          <p>
            Broker shall timely give all consumer disclosures required to be made by Broker under federal and state law, including those related to Broker’s compensation. Broker agrees that it will not accept from or give to any person, directly or indirectly, any commission, fee, or other thing of value other than as disclosed in accordance with and permitted by the Real Estate Settlement Procedures Act and other applicable federal and state law, and that the total compensation Broker receives on Mortgage Loans covered by this Agreement, including any compensation received from a borrower, is for goods or services which Broker in fact rendered and does not exceed the fair market value of the goods and services actually provided and/or performed by Broker in its geographical area. 
          </p>
        <li> 
          <p>
            <u>Government Loans.</u>
            As to each Application delivered by Broker to Lender for a Mortgage Loan intended to be insured by the Federal Housing Administration (FHA) or guaranteed by the Department of Veteran Affairs (VA), Broker represents and warrants that:
          </p>
          <ol class="list low-roman">
            <li>
              <p>
                Broker has fully complied with all requirements, standards and guidelines under applicable FHA and VA regulations, as amended from time to time, pertaining to residential mortgage loan origination including, without limitation, those set forth in various Handbooks published by the U.S. Department of Housing and Urban Development and by the VA; and
              </p>
            </li>
            <li>
              <p>
                Broker has taken no action or failed to take any action, the effect of which would prevent Lender from obtaining FHA insurance or VA loan guaranty or which at any time would invalidate, in whole or part, the FHA insurance or VA loan guaranty, on any submitted FHA or VA loan Application which is subsequently approved, closed and funded by Lender.
              </p> 
              </li>
          </ol>
        </li>
        <li>
          <p>
            <u>Broker Duty of Continuing Cooperation.</u>
            Broker agrees to comply with any commercially reasonable request from Lender for additional documentation and/or information related to any Application or Mortgage Loan in which Broker was involved, whether directly or indirectly, and whether such request for documentation and/or information relates to the origination of a Mortgage Loan, Lender’s sale of a Mortgage Loan, a deficiency in any Mortgage Loan sold to an investor, a request that Lender repurchase a Mortgage Loan from an investor or for any other commercially reasonable purpose.
          </p>
        </li>
        <li>
          <p>
            Broker shall conduct periodic quality control reviews of its brokering and origination operations and, upon request of Lender, provide copies of its findings to Lender. Lender shall have the right, in its sole discretion, to review any and all of Broker’s files (at the Broker’s facilities) relating to the Mortgage Loans for quality control purposes. Broker agrees to make such files available to Lender for inspection upon receipt of written notice from Lender. In addition, Broker shall permit Lender or Lender’s state and federal regulators to conduct quality control reviews of Broker’s brokering and origination operations. Broker agrees to assist Lender in the conduct of any such audit and/or review and to provide Lender with any information or documents in its possession that Lender may reasonably request. Broker further acknowledges that any failure to cooperate in any such audit and/or review or any discrepancies found during such audits and/or reviews are grounds for immediate termination of this Agreement. In addition, upon discovery of such discrepancy, Lender may notify any applicable state or federal agency of such discrepancy. 
          </p>
        </li>
      </ol>
    </li>
    <li><u>Broker Compensation.</u> 
      <ol class="list low-alpha">
        <li>
          <p>
            <u>Compensation.</u>
            Broker’s compensation in consideration for the services performed under this Agreement shall be as described on the schedule attached hereto as Exhibit A. Broker shall at all times comply with all statutes or regulations concerning compensation payable to loan originators including, without limitation, those contained in the Truth in Lending Act, Regulation Z and its Official Staff Commentary. Broker shall maintain records of all compensation payable to its agents and/or employees involved in loan origination for a three (3) year period from the date a Mortgage Loan is funded by Lender and, at Lender’s request, Broker shall produce any or all such compensation records to Lender. 
          </p>
        </li>
        <li>
          <p>
            <u>Taxes.</u> 
            Any compensation paid by Lender to Broker under this Article IV shall exclude all taxes and duties of any kind, if any, which either Party is required to pay with respect to the goods and services covered by this Agreement. 
          </p>
        </li>
      </ol>
    </li>
    <li><u>Mortgage Loan Purchase Requirements and Reimbursement.</u> 
      <ol class="list low-alpha">
        <li>
          <p>
            <u>Mortgage Loan Purchase Requirements.</u> Broker shall, within twenty (20) days of receipt of written notice from Lender, purchase from Lender (or the assignee of Lender), at a price calculated pursuant to Section 5(e) below, any Mortgage Loan:
          </p>
          <ol class="list low-roman">
            <li>
              <p>
                Wherein there is evidence of fraud by Broker or, to Broker’s knowledge, any other person in the origination of the Mortgage Loan or wherein any matter in the Mortgage Loan file is not true and correct as a result of an act of the Broker or, to Broker’s knowledge, of any other person;
              </p>
            </li>
            <li>
              <p>
                In which Broker fails to observe or perform, or breaches in any respect, any of the representations, warranties or agreements contained in this Agreement;
              </p>
            </li>
            <li>
              <p>
                Which Lender is unable to sell, without sustaining a loss, within forty-five (45) days of funding due to an improper or unlawful act of the Broker; or
              </p>
            </li>
            <li>
              <p>
                Which Lender is required to purchase from an investor due to an improper or unlawful act of the Broker.
              </p>
            </li>
          </ol>
        </li>
        <li>
          <p>
            <u>Foreclosure of Real Property Security.</u> It is agreed by the Parties that Broker’s purchase obligation with respect to a Mortgage Loan shall not be eliminated or discharged by the fact that the real property securing the Mortgage Loan has been foreclosed upon and said real property has been acquired by Lender or a third party or by whether or not Lender has repurchased such Mortgage Loan from the investor.
          </p>
        </li>
        <li>
          <p>
            <u>Set Off.</u> In the event Lender has made demand on Broker to purchase a Mortgage Loan pursuant to the terms of this Agreement, Lender shall have the right to withhold any monies otherwise due Broker in connection with the Mortgage Loan(s) which is the subject of the purchase obligation, or in connection with any other Mortgage Loan(s) submitted by Broker under this Agreement, until the purchase obligation is satisfied, in full. 
          </p>
        </li>
        <li>
          <p>
            <u>Wire Transfer.</u> Any purchase shall be accomplished by wire transfer from Broker to Lender of immediately available funds in an amount equal to the Purchase Price as set forth herein. Upon receipt by Lender of Broker’s funds for the purchase, Lender shall release to Broker the related Mortgage Loan file then in Lender’s possession or control and shall execute and deliver to Broker such instruments of transfer or assignment, in each case without recourse, as shall be necessary to vest in Broker, or its designee, title to such purchased Mortgage Loan(s). Broker shall assume the cost of recordation of assignments and any and all costs of transfer of any purchased Mortgage Loan.
          </p>
        </li>
        <li>
          <p>
            <u>Purchase Price.</u> The price to be paid by Broker ("Purchase Price") to Lender, or the assignee of Lender, for Mortgage Loans subject to purchase pursuant to this Agreement shall be: 
          <ol class="list low-roman">
            <li>
              <p>
                The unpaid principal balance of such Mortgage Loan if it has been pooled or sold. If such Mortgage Loan has not been pooled or sold by Lender, the Purchase Price shall be at the original face amount of the Mortgage Loan, less principal reduction since the original funding of the Mortgage Loan by Lender; plus
              <p>
            </li>
            <li>
              <p>
                All interest accrued but unpaid on the principal balance of the Mortgage Loan from the paid-to-date of the Mortgage Loan through and including the last day of the month in which the purchase is made; plus
              </p>
            </li>
            <li>
              <p>
                All expenses, including but not limited to reasonable fees and expenses of counsel incurred by Lender in enforcing Broker’s obligation to purchase such Mortgage Loan; plus 
              </p>
            </li>
            <li>
              <p>
                All compensation paid by Lender to Broker with respect to such Mortgage Loan; plus
              </p>
            </li>
            <li>
              <p>
                All fees, interest, charges and expenses incurred by Lender in connection with the warehousing of the Mortgage Loan, plus
              </p>
            </li>
            <li>
              <p>
                Any un-reimbursed advances made by Lender with respect to such Mortgage Loan, including but not limited to payments authorized by the Mortgage Loan documents or law to protect the security interest; plus
              </p>
            </li>
            <li>
              <p>
                Any un-reimbursed advances of taxes or insurance made by Lender with regard to such Mortgage Loan as of the date of purchase; less
              </p>
            </li>
            <li>
              <p>
                Any proceeds of mortgage insurance with respect to the Mortgage Loan collected by Lender.
              </p>
            </li>
          </ol>
        </li>
      </ol>
    </li>
    <li>
      <p>
        <u>Indemnification.</u> Broker agrees to indemnify, defend, and hold Lender, its officers, directors, shareholders, employees, agents, affiliates, and their respective successors and assigns, (collectively, the "Indemnitees") harmless from and against any and all liability, claims, losses, costs, expenses, penalties, fines, forfeitures, judgments and damages, including reasonable attorneys’ fees and costs by whomsoever asserted, relating to, arising out of, based upon, or resulting from: (a) a breach by Broker of any representation, warranty, covenant, term, condition or obligation contained in or made pursuant to this Agreement; (b) a failure by Broker to disclose any information that renders any representation, warranty or covenant contained in or made pursuant to this Agreement misleading or inaccurate; (c) any information provided by or through Broker to Lender on an Application, or elsewhere, that, to Broker's knowledge, was factually inaccurate, incomplete, false or misleading; (d) Broker’s negligence, willful misconduct, or bad faith; (e) any purchase under Section 5 above; and (f) any event for which purchase may be demanded by Lender under Section 5 above if Lender elects not to demand purchase by Broker. Any dispute between Lender and Broker with respect to indemnification shall be resolved in accordance with Article IX of this Agreement. This Article VI shall survive any purchase, sale or transfer of any Mortgage Loan or any interest therein by any of the Indemnitees, the foreclosure or liquidation of the Mortgage Loan, any sale of the real property security, and the termination of this Agreement.
      </p>
    </li>
    <li><u>General.</u> 
      <ol class="list low-alpha">
        <li>
          <p>
            <u>Non-exclusive Engagement.</u> Broker acknowledges that it is not now and will not be, the exclusive provider of mortgage brokerage services to Lender and that Lender has made no representation as to any volume of Applications which it may accept or approve from Broker or from any other source. Lender acknowledges that Broker has no obligation to provide Mortgage Loan Applications to Lender.
          </p>
        </li>
        <li>
          <p>
            <u>Independent Contractor.</u> The relationship between the Parties is strictly contractual and shall not be construed as a joint venture, agency relationship, partnership or other employment relationship between the Parties. At all times the Parties are independent of one another, and Broker has no authority to represent itself, or hold itself out as, an agent of Lender.
          </p>
        </li>
        <li>
          <p>
            <u>Assignment.</u> Lender has entered into this Agreement with Broker in reliance on the specific qualifications of Broker to provide the services contemplated hereunder; therefore, Broker may not assign or delegate this Agreement or any of its rights or obligations hereunder, whether by operation of law or otherwise, without the prior written consent of Lender, which consent may be withheld in Lender’s sole and arbitrary discretion. Lender, in its sole and arbitrary discretion, may assign its rights and benefits hereunder, and delegate its duties and obligations hereunder.
          </p>
        </li>
        <li><u>Confidential Information.</u>
          <ol class="list low-roman">
            <li><u>Borrowers.</u> 
              <ol class="list numerical">
                <li><u>"Borrower Confidential Information"</u>
                  <p>
                    shall mean and refer to all written information provided by Lender to Broker in connection with Lender’s loan programs, including policies, guidelines, credit criteria, Proprietary Documents, as defined in Section 7(e), business practices, plans or proposals, all information provided by Lender to Broker regarding a borrower’s transactions which are the subject of this Agreement and Borrower Confidential Information. "Borrower Confidential Information" shall mean and refer to any record containing non-public personal information as defined by federal law, including, but not limited to, the Gramm-Leach-Bliley Act, as amended, any regulations promulgated thereunder, and any other information protected by applicable state law pertaining to a borrower, regardless of the form in which it is handled or maintained, and includes, without limitation, bank and credit card account numbers, income and credit information and social security numbers. Borrower Confidential Information shall not include any information that: (i) enters the public domain other than as a result of disclosure by Broker; (ii) with the exception of Borrower Confidential Information, is known by Broker at the time it is disclosed by Lender, as shown by Broker’s records; (iii) with the exception of Borrower Confidential Information, is independently developed by Broker at any time, as shown by Broker’s records; or (iv) is rightfully obtained by Broker from an independent third party who does not have an obligation of confidentiality to Lender.
                  </p>
                </li>
                <li>
                  <p>
                    All Borrower Confidential Information shall be held in the strictest confidence and will not be disclosed by Broker or its officers, directors, employees, affiliates, agents, advisors, or representatives (collectively, "Representatives"), except as specifically permitted by the terms hereof. Broker and its Representatives will use Borrower Confidential Information solely for the purpose of this Agreement, will not use Borrower Confidential Information for any other purpose, and will not disclose or communicate Borrower Confidential Information in any manner whatsoever, directly or indirectly, to any third party without the prior written consent of Lender, unless disclosure is expressly permitted under Section 7(d)(ii). Broker further agrees that Borrower Confidential Information will be disclosed only to such of its Representatives who need to examine such Borrower Confidential Information for the purposes described in this Section 7(d)(i). Before being provided with any Borrower Confidential Information, each such Representative shall be informed by Broker of the confidential nature of the Borrower Confidential Information and the terms of this Agreement, shall be directed by the Broker to treat Borrower Confidential Information confidentially, and shall agree to abide by each provision of this Agreement. Broker shall in any event be responsible for, and agrees to indemnify and hold Lender harmless from and against, any and all liability arising out of any breach of this Section 7(d)(i) by Broker or any of Broker’s Representatives.
                  </p>
                </li>
                <li>
                  <p>
                    Broker shall take all necessary precautions to keep confidential all Borrower Confidential Information and shall take all necessary precautions to ensure observation of this Agreement by its Representatives. All Borrower Confidential Information shall remain the exclusive property of Lender. Upon request by Lender, Broker shall promptly surrender to Lender any and all Borrower Confidential Information in Broker’s possession or under Broker’s control, and shall surrender all Borrower Confidential Information to Lender promptly and without request upon termination of the Agreement. Neither Broker nor its Representatives shall retain any copies of Borrower Confidential Information, subject, however, to any requirement under applicable law that Broker retain copies of Borrower Confidential Information, including copies of Proprietary Documents completed with Borrower Confidential Information.
                  </p>
                </li>
                <li>
                  <p>
                    Until Lender has approved a Mortgage Loan and the borrower has accepted the offer of credit, Broker can disclose Borrower Confidential Information to third parties as permitted by borrower. In the event that Broker or any of its Representatives is requested or required (by oral question, interrogatories, requests for information or documents, subpoenas, civil investigation, governmental requirements, or similar process) to disclose any Borrower Confidential Information, Broker will provide Lender with prompt notice of such requests so that Lender may seek an appropriate protective order, or if appropriate, waive compliance with the provisions of this section. Broker represents and warrants that it will use its best efforts to assist Lender in obtaining any such protective order. Broker may disclose Borrower Confidential Information relating to a Mortgage Loan if requested or required by Broker’s regulatory authority, subject to the notification provisions of this Section 7(i)(4).
                  </p>
                </li>
                <li>
                  <p>
                    Broker agrees to develop, implement, and maintain a comprehensive information security program which contains administrative, technical and physical safeguards appropriate to the size and complexity of Broker’s business and the sensitivity of any Borrower Confidential Information. Such safeguards shall be adequate to ensure the security and confidentiality of Borrower Confidential Information, to protect against any anticipated threats or hazards to the security of such information and to protect against the unauthorized access to or use of Borrower Confidential Information which could result in substantial harm or inconvenience to any borrower. Broker further agrees that such Borrower Confidential Information will be used only for the limited purpose(s) for which it has been disclosed, and for no other purpose.
                  </p>
                </li>
                <li>
                  <p>
                    Broker acknowledges that a breach of this Section (d)(i) may result in continuing and irreparable damages to Lender for which there may be no adequate remedy at law. Notwithstanding anything to the contrary contained elsewhere herein, Broker hereby grants Lender the right to appear at any time in any court of law and to obtain an order against Broker and/or its Representatives enjoining and/or restraining Broker and/or its Representatives from using and/or disclosing Borrower Confidential Information.
                  </p>
                </li>
              </ol>
            </li>
            <li><u>Unfair Competition and Company Confidential Information.</u> 
              <ol class="list numerical">
                <li>
                  <p>
                    Company Confidential Information. All records and files of the Company are property of the Company and considered company confidential information ("Company Confidential Information"). Broker not is authorized to copy or disclose any file or record Company Confidential Information, which includes all letters or any other information concerning transactions with customers, Applications, customer lists, Broker lists, payroll or personnel records of past or present Brokers, financial records of the Company, all records pertaining to purchases from vendors or suppliers, correspondence and agreements with manufacturers or distributors and documents concerning operating procedures of the Company. All telephone calls, letters, or other requests for information regarding the Company should be immediately directed to the Office Manager or the President. Broker agrees at all times during the term of his/her relationship with the Company and thereafter, to hold in strictest confidence, and not to use, except for the benefit of the Company to the extent necessary to perform obligations to the Company under the relationship, or to disclose to any person, firm, corporation or other entity without written authorization of the Board of Directors of the Company, any Company Confidential Information that Broker receives, obtains or creates.
                  </p>
                  <ol class="list low-alpha">
                    <li>
                      <p>
                        Broker further agrees not to make copies of such Company Confidential Information except as authorized by the Company.
                      </p>
                    </li>
                    <li>
                      <p>
                        Broker understands that Company Confidential Information means any Company proprietary information, technical data, trade secrets or know-how, including, but not limited to, research, product plans, products, services, suppliers, customer lists and customers/transactions (including, but not limited to, customers of the Company on whom Broker called or with whom Broker became acquainted during the relationship), prices and costs, markets, developments, inventions, processes, technology, designs, drawings, regulatory information, marketing, licenses, finances, budgets or other business information disclosed to him/her by the Company either directly or indirectly in writing, orally or by drawings or observation or created by him/her during the period of the relationship, whether or not during working hours.
                      </p>
                    </li>
                    <li> 
                      <p>
                        Broker understands that Company Confidential Information includes, but is not limited to, information pertaining to any aspects of the Company’s business that is either information not known by actual or potential competitors of the Company or other third parties not under confidentiality obligations to the Company, or is otherwise proprietary information of the Company or its customers or suppliers, whether of a technical nature or otherwise.
                      </p>
                    </li>
                    <li>
                        <p>
                          In addition, Broker understands that Company Confidential Information shall also include all Borrower Confidential Information that Broker receives or obtains during the negotiation or performance of this Agreement, whether such information is oral or written, and whether or not labeled as confidential by the Company.
                        </p>
                    </li>
                    <li>
                      <p>
                        Broker further understands that Confidential Information does not include any of the foregoing items that have become publicly and widely known and made generally available through no wrongful act of Broker or of others who were under confidentiality obligations as to the item or items involved.
                      </p>
                    </li>
                  </ol>
                </li>
                <li>
                  <p>
                    <u>Prior Obligations.</u> Broker represents that its performance of all terms of this Agreement has not breached and will not breach any agreement to keep in confidence proprietary information, knowledge or data acquired by it prior or subsequent to the commencement of its relationship with the Company, and Broker will not disclose to the Company or use any inventions, confidential or non-public proprietary information or material belonging to any previous, client, employer or any other party.
                  </p>
                  <ol class="list low-alpha">
                    <li>
                      <p>
                        Broker will not induce the Company to use any inventions, confidential or non-public proprietary information, or material belonging to any previous client, employer or any other party.
                      </p>
                    </li>
                    <li>
                      <p>
                        Broker represents that it is not a party to any agreements (e.g., non-competition agreements, non-solicitation of customers agreements, other non-solicitation agreements, confidentiality agreements, inventions agreements, etc.) with a former employer, or any other person or entity, that may restrict its ability to enter into a brokering relationship with the Company, or otherwise relate to or restrict its ability to perform any obligation Broker may have to the Company.
                      </p>
                    </li>
                  </ol>
                </li>
                <li>
                  <p>
                    <u>Third Party Information.</u> Broker recognizes that the Company has received and in the future will receive confidential or proprietary information from third parties subject to a duty on the Company’s part to maintain the confidentiality of such information and to use it only for certain limited purposes. Broker agrees to hold all such confidential or proprietary information in the strictest confidence and not to disclose it to any person, firm or corporation or to use it except as necessary in carrying out my Broker’s for the Company consistent with the Company’s agreement with such third party.
                  </p>
                </li>
                <li>
                  <p>
                    <u>Privacy Policies.</u> Broker hereby represents and warrants to the Company that its Privacy Notices and Privacy Policies, if applicable, are consistent with the U.S. Federal Trade Commission’s procedures, rules and regulations, as applicable and as amended from time-to-time, and comply with acceptable trade practices.
                  </p>
                </li>
              </ol>
            </li>
          </ol>
        </li>
        <li><u>Publicity and Proprietary Documents.</u> 
          <ol class="list low-roman">
            <li>
              <p>
                Broker may not refer to, use, display, nor permit the use or display of, the name of Lender, or any derivations thereof, or any signs, symbols, trademarks, service marks, slogans, or logos owned, licensed, or used by Lender or its affiliates or in any way associated with the name of Lender or its affiliates directly or indirectly, including without limitation in any advertising or promotional materials, print media, press release, electronic media, web page advertising, or internet advertising without the prior written consent of Lender, which consent may be withheld in Lender’s sole and arbitrary discretion.
              </p>
            </li>
            <li>
              <p>
                Broker will use any forms, agreements, or documents created or prepared by Lender and provided to Broker (the "Proprietary Documents") solely for the purpose of this Agreement and will not use or permit the use of Proprietary Documents by any of its Representatives for any other purpose. Broker may not reproduce or enter any Proprietary Document into any computerized or electronic database or system without the prior written consent of Lender, which consent may be withheld in Lender’s sole and arbitrary discretion. Broker will immediately return to Lender any and all unused Proprietary Documents, including all copies thereof, upon termination of this Agreement.
              </p>
            </li>
          </ol>
        </li>
        <li>
          <p>
            <u>Reporting.</u> Broker acknowledges and agrees that Lender may report information regarding any Application for, or documents related to, a Mortgage Loan wherein Lender has determined, in its sole discretion, that said information contains misrepresentations and/or irregularities, to the applicable regulatory agency and/or to any mortgage industry background database, including, but not limited to, databases operated by Mortgage Asset Research Institute, Inc., such as the Mortgage Industry Data Exchange ("MIDEX"). Broker agrees that it and/or its Representatives may be named as the originating entity or loan originator(s) on any such Mortgage Loan. Broker acknowledges the importance of Lender’s right, and necessity to the public, of disclosing such information. Broker, for itself and its Representatives, hereby releases Lender, its officers, directors, shareholders, employees, agents, affiliates and their respective successors and/or assigns from any and all liability, claims, losses, costs, expenses, penalties, fines, forfeitures, judgments and damages, including reasonable attorneys’ fees and court costs, both direct and indirect, that may arise from the reporting or use by any database subscriber of any information submitted by Lender, with respect to Broker and/or its Representatives, to any mortgage industry background database, including MIDEX.
          </p>
        </li>
        <li>
          <p>
            <u>Early Pay-offs.</u> In the event a Mortgage Loan is paid in full within one hundred and eighty (180) days of the closing of such Mortgage Loan as a result of a direct or indirect act of the Broker, then Broker shall promptly refund to Lender, upon demand, all compensation paid to Broker in connection with said Mortgage Loan. Broker’s obligation to refund all compensation paid to Broker by Lender pursuant to this section 7(g) shall survive the termination of the Agreement.
          </p>
        </li>
      </ol>
    </li>
    <li>
      <p>
        <u>Termination.</u> Either Party may terminate this Agreement, with or without cause, upon ten (10) days written notice to the non-terminating Party sent to the address set forth at section 10(g). Lender shall pay Broker, subject to the terms and conditions of this Agreement, for services provided, performed, and accepted in connection with closed loans originated prior to the effective date of termination, and Broker shall continue to provide and perform services on Mortgage Loans approved by Lender prior to the effective date of termination, but Broker shall cease accepting any new Applications for Mortgage Loans on the effective date of termination. Broker agrees to safeguard, remove, and deliver to Lender all property including all Confidential Information belonging to Lender in Broker’s possession at the time this Agreement is terminated. After any termination of this Agreement, the provisions of this Agreement shall continue to apply to any Mortgage Loan previously closed and funded by Lender under this Agreement.
      </p>
    </li>
    <li>
      <p>
        <u>Binding Arbitration.</u> Any dispute, claim or controversy (collectively "Dispute") by and between the Parties arising out of or relating to this Agreement or the breach, termination, enforcement, interpretation or validity thereof, including the determination of the scope or applicability of this agreement to arbitrate, shall be determined by binding arbitration in the County of Contra Costa, California, before a sole arbitrator in accordance with the laws of the State of California for agreements made in and to be performed in the State of California. The arbitration shall be administered by JAMS pursuant to its Comprehensive Arbitration Rules and Procedures. Judgment on the Award may be entered in any court having jurisdiction. The arbitrator may, in the award, allocate all or part of the costs of the arbitration, including the fees of the arbitrator to the prevailing Party. The provisions of this Article IX may be enforced by any court having jurisdiction and the Party seeking enforcement shall be entitled to an award of all costs, fees and expenses, including reasonable attorneys’ fees, to be paid by the Party against whom enforcement is ordered.
      </p>
    </li>
    <li><u>Miscellaneous Provisions.</u>
      <ol class="list low-alpha">
        <li>
          <p>
            <u>Time is of the Essence.</u> It is expressly agreed by the Parties hereto that time is of the essence with respect to this Agreement including, but not limited to, any provisions for the delivery of services and of any notice allowed or required herein.
          </p>
        </li>
        <li>
          <p>
            <u>Section Headings.</u> Article and section headings are included for convenience only and are not to be used to construe or interpret this Agreement.
          </p>
        </li>
        <li>
          <p>
            <u>No Waiver.</u> No delay, failure, or waiver of either Party’s exercise or partial exercise of any right or remedy under this Agreement shall operate to limit, impair, preclude, cancel, waive, or otherwise affect such right or remedy.
          </p>
        </li>
        <li>
          <p>
            <u>Survival.</u> The covenants, agreements, representations and warranties made herein shall survive the termination of this Agreement.
          </p>
        </li>
        <li>
          <p>
            <u>Severability.</u> If any provision of this Agreement is held invalid, illegal, or unenforceable, the validity, legality, or enforceability of the remaining provisions shall in no way be affected or impaired thereby.
          </p>
        </li>
        <li><u>Counterparts.</u> This Agreement may be executed in counterparts, each of which shall constitute an original, but all of which together shall constitute one and the same instrument. The Parties agree that a signed copy of this Agreement transmitted by one Party to the other by facsimile transmission shall be binding upon the sending Party to the same extent as a signed original of this Agreement. </li>
        <li><u>Notices.</u> All notices permitted or required to be delivered hereunder shall be in writing and shall be deemed to have been properly given: a) seventy-two (72) hours after being sent by certified mail, return receipt requested; b) twenty-four (24) hours after being sent by national overnight courier; c) on delivery, if personal delivery to the named individual addressees; or, d) if sent by facsimile, on receipt if receipt was orally confirmed by the recipient. All such notices permitted or required to be delivered hereunder shall be addressed as follows:
          <section class="boxes"> 
            <address class="boxes-box">
              If to Broker:<br/>
              ___________________________<br/>
              ___________________________<br/>
              ___________________________<br/>
              Attn: _______________________<br/>
            </address>
            <address class="boxes-box">
              If to Lender: <br/>
              Commerce Home Mortgage<br/>
              3130 Crow Canyon Place<br/>
              San Ramon, CA 94583<br/>
              Attn: _______________________<br/>
            </address>
          </section>
          <p>Either Party may change the address to which notices are to be given to that Party, by a notice properly given in accordance with this Section 10(g).</p>
        </li>
        <li>
          <p>
            <u>Remedies.</u> The remedies set forth in this Agreement are not exclusive. Election of one remedy shall not preclude the use of other remedies and a Party may seek any remedy generally available at law or in equity.
          </p>
        </li>
        <li>
          <p>
            <u>Third Party Beneficiaries.</u> This Agreement has been made by, and is solely made for the benefit of the Parties. Except as otherwise specifically provided herein, nothing expressed or implied in this Agreement is intended, or shall be construed, to confer upon or give any person or entity, other than Broker and Lender, and Lender’s assigns, any rights or remedies under or by reason of this Agreement.
          </p>
        </li>
        <li>
          <p>
            <u>Governing Law.</u> This Agreement shall be governed by and construed under the laws of the State of California, without regard to its conflicts of laws principles.
          </p>
        </li>
        <li>
          <p>
            <u>Integration.</u> Except as expressly stated to the contrary herein, this Agreement contains the final and entire agreement of the Parties and all other agreements whether oral or written made with respect to the subject matter and the transactions contemplated by this Agreement shall have no force or effect. Except as expressly stated herein, no amendments, supplements or waivers of any provision of this Agreement shall be valid unless made in an instrument in writing, and signed by authorized representatives of both Parties.
          </p>
        </li>
        <li>
          <p>
            <u>Offset.</u> Amounts past due and owing by Broker to Lender under this Agreement may, at Lender’s option and in its sole discretion, be offset by Lender against any payments or other indebtedness then or thereafter owed by Lender to Broker.
          </p>
        </li>
        <li>
          <p>
            <u>Interpretation.</u> Any ambiguities in this Agreement will not be strictly construed against the drafter of the language concerned but will be resolved by applying the most reasonable interpretation under the circumstances, giving full consideration to the intentions of the Parties at the time of contracting. This Agreement will not be construed against any Party by reason of its preparation.
          </p>
        </li>
        <li>
          <p>
            <u>Further Assurances.</u> The Parties shall execute and deliver any and all additional papers, documents and other assurances and shall do any and all acts and things reasonably necessary in connection with the performance of their respective obligations hereunder to carry out the intent of this Agreement.
          </p>
        </li>
        <li>
          <p>
            <u>Attorney’s fees.</u> In the event that arbitration is initiated by either Party to enforce the terms of this Agreement, the prevailing Party on a claim based in contract shall be entitled to reasonable attorneys' fees incurred in connection with such contract claim.
          </p>
        </li>
        <li>
          <p>
            <u>Modification.</u> Lender may amend this Agreement by addendum. Any such amendment shall become a part of this Agreement thirty (30) days after notice thereof is given in accordance with Section 10.17 above.
          </p>
        </li>
      </ol>
    </li>
  </ol>
  <section class="boxes">
    <h3>
      IN WITNESS WHEREOF,
    </h3> 
    <p>
      the Parties have executed this Agreement as of the Effective Date. 
    </p>
    <div class="boxes-box">
      <h4>
        Commerce Home Mortgage <br/>
        dba Commerce Home Mortgage Wholesale  <br/>
      </h4>
      <p class="byline">By: _______________________</p><br/>
      <p>Shabi Asghar Its: President - Wholesale <br/></p>
    </div>
    <div class="boxes-box">
      <%= broker_approval_form.company %>, <%= broker_approval_form.company_type %><br/><br/>
      <p class="byline">By: _______________________</p><br/>
      <p><%= broker_approval_form.company_president %> Its: President</p><br/>
    </div>
  </section>
  <div class="page-break"></div>
  <h3 class="header-sub strong align-center">EXHIBIT A</h3>
  <h3 class="header-sub strong align-center">BROKER COMPENSATION ADDENDUM</h3>
  <p>
    This schedule to the Broker Agreement ("Compensation Addendum") is entered into by and between Commerce Home Mortgage, a California corporation, dba Bank of Commerce Home Mortgage or Commerce Home Mortgage, or such other lawful name or names as it may choose in its discretion from time to time ("Broker") (hereinafter collectively referred to as the "Parties") dated this <%= broker_approval_form.created_at.day %> day of <%= broker_approval_form.created_at.month %>, <%= broker_approval_form.created_at.year %>. Any capitalized terms defined in the Broker Agreement to which this Compensation Addendum is attached shall have the same meaning when used herein.
  </p>
  <h3 class="header-sub strong align-center">RECITALS</h3>
  <ol class="list up-alpha">
    <li>
      <p>
        WHEREAS, Lender and Broker entered into the Broker Agreement dated as of <%= broker_approval_form.pretty_date %>:
      </p>
    </li>
    <li>
      <p>
        WHEREAS, broker may, from time to time at its option, submit completed application packages for residential mortgage loans to Lender for underwriting review, and possible funding;
      </p>
    </li>
    <li>
      <p>
        WHEREAS, Lender may, from time to time, pay compensation to Broker for loans that are submitted by Broker and subsequently approved and funded by Lender;
      </p>
    </li>
    <li>
      <p>
        WHEREAS, the Parties acknowledge that the Consumer Financial Protection Bureau has amended Regulation Z (12 CFR part 1026) ("Amendment") related to Loan Originator Compensation and Anti-Steering, in compliance with these rules is mandatory and apply to transactions for which Lender receives a loan application; and
      </p>
    </li>
    <li>
      <p>
        WHEREAS, the Parties further acknowledge that the Amendment referenced in section The above requires that all Lender paid compensation to Broker, or any other loan originator, must be pursuant to a predetermined and fixed written compensation agreement between the parties and cannot be based on the interest rate, product, or any other term or condition of a particular loan.
      </p>
    </li>
  </ol>
  <p>
    NOW, THEREFORE, in consideration of the RECITALS set forth above and subject to the mutual promises and covenants set forth below, the receipt and sufficiency of which are hereby acknowledged, the Parties hereby agree as follows:
  </p>
  <ol class="list numerical">
    <li>
      <p>
        Effective Date. The Compensation Addendum shall be effective for all Loan Applications Submitted to Lender.
      </p>
    </li>
    <li>
      <p>
        Compensation. Broker may receive compensation for performance of its duties under this Agreement either as a Borrower Paid transaction or as a Lender Paid transaction. Broker shall disclose such compensation to each borrower in accordance with applicable law, including the Real Estate Settlement Procedures Act ("RESPA") and the Truth-in-Lending Act ("TILA"). With respect to such compensation, Broker agrees and represents and warrants as follows with respect to each Loan:
      </p>
    </li>
    <li><p>LENDER-PAID COMPENSATION PERCENTAGE</p>
      <%= wicked_pdf_image_tag("broker-agreement-compensation.png") %>
    </li>
    <li>
      <p>
        Change to Lender Paid Compensation. Lender will evaluate the compensation paid to Broker quarterly, on January 1, April 1, July 1, and October 1, and prospectively revise the compensation it pays hereunder. Lender shall have the right, at its sole discretion, to modify Lender Paid Compensation, in whole or in part, at any time on a prospective (but not a retroactive) basis. In such event, Lender shall issue and deliver to Broker a new schedule of Lender Paid Compensation which reflects such changes and which shall, as of the effective date stated thereon, supersede and replace the prior Lender Paid Compensation amounts. Upon modification, the calculations herein will apply to all transactions with a locked rate that is prior to the effective date of such modification.
      </p>
    </li>
    <li>
      <p>
        No Third Party Compensation. Broker hereby understands and agrees that Broker or any agent of Broker, may not be compensated in any manner by borrower, or a third-party, outside of the loan transaction. This provision shall not prohibit a Broker from being compensated from a third party for another unrelated loan transaction.
      </p>
    </li>
    <li>
      <p>
        Compliance with Regulation Z. Broker hereby acknowledges that he/she has reviewed the compensation and steering provisions in Regulation Z (12 CFR part 1026.36), and fully understands the compliance requirements contained therein. This Compensation Addendum is not intended to, and shall not be construed as a comprehensive list of all regulatory and compliance requirements mandated by the Amendment and shall only be used to cover in compliance to the extent required between the parties. Broker further understands and agrees that broker will be required to evidence compliance with Anti-Steering-Safe Harbor guidelines by providing a copy of their Anti-Steering, Loan Option Disclosure signed and dated by the borrowers upon Lender's request.
      </p>
    </li>
    <li>
      <p>
        Entire Agreement. Except as expressly provided otherwise, this compensation addendum shall constitute the entire agreement between the parties related to the subject matter hereof and there are no other agreements, representations, warranties or conditions other than those contained herein. Except as specifically set forth herein, the Broker Agreement shall continue to apply with full force and effect. To the extent that there is any conflict between the terms of the Broker Agreement and this Compensation Addendum, this Compensation Addendum shall control unless this Compensation Addendum provides otherwise. 8) Attorney's Fees. If either party brings suit or other proceeding against the other as a result of any alleged breach or failure by the other party to fulfill or perform any covenant or obligations under this addendum, then the prevailing party shall be entitled to reasonable attorney's fees.
      </p>
    </li>
    <li>
      <p>
        Attorney's Fees. If either party brings suit or other proceeding against the other as a result of any alleged breach or failure by the other party to fulfill or perform any covenant or obligations under this addendum, then the prevailing party shall be entitled to reasonable attorney's fees.
      </p>
    </li>
    <li>
      <p>
        Choice of Law. This agreement shall be governed by, construed and enforced in accordance with the laws of the state of California. This agreement shall be enforced or otherwise adjudicated only in the Superior Court, Contra Costa County, State of California.
      </p>
    </li>
    <li>
      <p>
        Execution in Counterparts. This Compensation Addendum may be executed in any number of counterparts. Each counterpart shall be deemed to be an original and all such counterparts shall constitute one and the same. 11) Assignment. Broker may not assign this Compensation Addendum or any of the other obligations or duties hereunder without the prior written consent of Lender. IN WITNESS HEREOF, the parties hereto have entered into this Compensation Addendum as of the day and year first written above.
      </p>
    </li>
  </ol>
  <p>
    Commerce Home Mortgage, dba Commerce Home Mortgage Wholesale
  </p>
<footer>
  <section class="sign boxes">
    <div class="sign-signature boxes-box">
      <p class="byline">By: ____________________________</p>
      <p>Scott Simonich Its: President and CEO<br/></p>
    </div>
    <div class="boxes-box">
      <%= broker_approval_form.company %>, <%= broker_approval_form.company_type %><br/><br/>
      <p class="byline">By: ____________________________</p>
      <p><%= broker_approval_form.company_president %> Its: President<br/></p>
    </div>
  </section>
</footer>
