<article class="type-system-rounded wrapper"> 
  <%= wicked_pdf_image_tag("logo-all-black.png", :class=>"logo") %>
  <h2 class="align-center">
    CHMW APPROVED BROKERS REQUESTING TO BE RECOGNIZED<br/> 
    AS AN AUTHORIZED "VA AGENT" FOR CHMW
  </h2>
  <p>
    When a Commerce home mortgage Wholesale (CHMW) approved broker (main office) requests to be recognized as a CHMW "VA AUTHORIZED AGENT" to take loan applications, request credit reports, appraisals, verify employment and deposits, and conduct settlement on behalf of CHMW, the broker must provide the following information and fee in their request:
  </p>
  <section class="wrapper">
    <div class="boxes-box">
      <address>
         <%= broker_approval_form.company %>, <%= broker_approval_form.company_type %><br/>
         <%= broker_approval_form.dba %><br/>
         <%= broker_approval_form.address %><br/>
         <%= broker_approval_form.city %>, <%= broker_approval_form.state %>, <%= broker_approval_form.zip %><br/>
      </address>
    </div>
    <div class="boxes-box">
      <ul>
        <li>Tax ID Number: ____________________________</li>
        <li>Contact Person: ___________________________</li>
        <li>Title: ____________________________________</li>
        <li>Email Address: ____________________________</li>
        <li>Telephone No.: ____________________________</li>
        <li>FAX No.: __________________________________</li>
        <li>VA ID Number: _____________________________<br/>
          <small>(If VA has ever issued a number to you. Please send us your VA approval letter if you have one.)
        </li>
      </ul>
    </div>
  </section>
  <section class="wrapper">
    <div class="boxes-box">
      <strong> 
        Check $100.
      </strong><br/>
      <strong>
        Payable to: "Department of Veterans Affairs"
      </strong>
    </div>
    <div class="boxes-box">
      <p>Send this form and the $100 check to:</p>
      <address>
        Commerce Home Mortgage Wholesale <br/>
        2030 Main Street, Suite 500, Irvine, CA 92660
      </address>
    </div>
  </section>
  <p>
    After receiving the above information and fee, CHMW will forward your request to the VA. It takes approximately 30-60 days to get your VA Identification Number. The Renewal fee of $100 is required at the time of application and again at the end of October. This renewal is good until December. It is the broker’s responsibility to notify the VA office if the broker’s address changes.
  </p>
  <p>
    Under current VA guidelines, CHMW—who has Automatic Authority—can underwrite VA loans in any State that both the Broker and CHMW is licensed.
  </p>
  <P>
    CHMW can certainly underwrite all your VA loans while awaiting your VA ID Number. If you have questions, call your account manager, thank you.
  </P>
</article>