- content_for :about_body do
  %article.sub-page-content
    %h2.sub-title
      Latest News
    %div.slogan-with-sort
      %p.slogan.fx
        Read about
        %span.fancy_title.last-red CHMW
        in the news
      / %select.select2
      /   %option Type
      /   %option Recent
      /   %option Oldest
      /   %option Most Viewed
      / %select.select2
      /   %option Sort
      /   %option Recent
      /   %option Oldest
      /   %option Most Viewed
    %ul.news-list
      %li.news
        = image_tag("news1.jpg", :class => "news__image")
        %div.news__content
          %div.news__date October 20, 2015 | MarketWatch
          %h2.news__title Mario De Tomasi Regarding TRID Rollout
          %p.news__description CFPB admits loan disclosure rules rollout hasn’t been smooth - “Either the lender is going to have to pay for the extended rate lock, or the borrower, but somebody is going to have to pay it,” said Mario De Tomasi, chief executive officer of Commerce Home Mortgage in San Ramon, Calif., in an interview after Cordray’s remarks.
          %a.news__url{:href => "http://www.marketwatch.com/story/cfpb-admits-loan-disclosure-rules-rollout-hasnt-been-smooth-2015-10-20"} Read More
      %li.news
        = image_tag("news2.jpg", :class => "news__image")
        %div.news__content
          %div.news__date June 11, 2015 | National Mortgage News
          %h2.news__title Kevin Hughes Weighs in on ‘Deep Coverage’ PMI
          %p.news__description Why ‘Deep Coverage’ PMI Could Help Lower G-Fees - Lenders hope this type of arrangement could lead to a reduction in the GSEs' guarantee fees. "If, as a result of risk-sharing structures, the impact results in overall reduced G-fees, that will benefit us," said Kevin Hughes, chief operating officer at Commerce Home Mortgage.
          %a.news__url{:href => "http://www.nationalmortgagenews.com/news/secondary/why-deep-coverage-pmi-could-help-lower-g-fees-1053255-1.html?zkPrintable=truel"} Read More
      %li.news
        = image_tag("news3.jpg", :class => "news__image")
        %div.news__content
          %div.news__date May 27, 2015 | Bloomberg Business
          %h2.news__title Mario De Tomasi Quoted by Bloomberg
          %p.news__description Maybe Alan Greenspan Was Right About Floating-Rate Mortgages - ARMs’ lower payments and Americans’ propensity to change homes fairly often makes them a good choice, says Mario De Tomasi, chief financial officer at San Ramon, California-based lender Commerce Home Mortgage. "Most borrowers—especially younger ones and first time homebuyers—won’t stay in the same residence for 30 years," he said in an e-mail. "Personally I have never taken out a 30-year fixed mortgage on any property I have owned."
          %a.news__url{:href => "http://www.bloomberg.com/news/articles/2015-05-27/maybe-alan-greenspan-was-right-about-floating-rate-mortgages"} Read More
      %li.news
        = image_tag("news4.jpg", :class => "news__image")
        %div.news__content
          %div.news__date March 11, 2015 | HousingWire
          %h2.news__title Commerce Home Mortgage Named the Top Originator by HousingWire
          %p.news__description Two Harbors bringing $294 million jumbo RMBS to market - "The WA liquid reserves for the loans is approximately $328,000, which is enough to cover over six years of monthly mortgage payments," DBRS noted. "On average, 6.9% of the loans have liquid reserves higher than their current loan balance." The top originators in the pool are NYCB Mortgage Company (13.5%), George Mason Mortgage (13.2%), United Shore Financial Services (11.3%), Parkside Lending (7.9%), Prospect Mortgage (7.7%), Stifel Bank and Trust (6.5%), Provident Savings Bank (5.6%), Commerce Mortgage (5.5%), Mortgage Master (5.2%), and American Pacific Mortgage Corporation (5.1%).
          %a.news__url{:href => " http://www.housingwire.com/articles/33214-two-harbors-bringing-294-million-jumbo-rmbs-to-market"} Read More
      %li.news
        -#= image_tag("news5.jpg", :class => "news__image")
        %div.news__content
          %div.news__date August 7, 2014 | California Association of Mortgage Professionals
          %h2.news__title Shabi Asghar Elected OC Chapter President of CAMP
          %p.news__description Commerce Home Mortgage, a national leader in real estate financing, is pleased to announce its wholesale division president Shabi Asghar has been elected as chapter president of the Orange County California Association of Mortgage Professionals (OC CAMP) for the 2014-2015 fiscal year. CAMP is an organization of mortgage brokers and affiliated service providers who act as consumer advocates, linked together to create greater options in the mortgage selection process. As president of OC CAMP, Asghar will lead the organization of consumer advocates members to establish a diverse network of mortgage professionals in Orange County to make home ownership possible through a wide array of programs. Asghar has worked in the financial services industry since receiving his Bachelor of Science in Business Management from California State University, Northridge in 1986. A southern California resident since 1980, Asghar aimed his focus on the mortgage industry in 1992, and became an industry wholesale division president three years later. He went on to launch and grow several successful mortgage companies, utilizing his expertise in the management of wholesale origination and production. “OC CAMP’s mission is completely aligned with that of Commerce Home Mortgage, so it comes as no surprise that Shabi will help lead both organizations toward their common goal,” states Scott Simonich, CEO of Commerce Home Mortgage. “Simply put, we all want to get people back into homes.”
      %li.news
        = image_tag("news6.jpg", :class => "news__image")
        %div.news__content
          %div.news__date  August 7, 2014 SAN RAMON
          %h2.news__title 20 Years in the Business
          %p.news__description Commerce Home Mortgage, a national leader in real estate financing, celebrates 20 years in the mortgage financing industry this year. Rebranded as Commerce Home Mortgage in 2013, the company was founded by Simonich Corporation and Bank of Walnut Creek as BWC Mortgage Services in 1994. It has been privately owned since Bank of Walnut Creek was acquired by First Republic Bank in 2006. Commerce Home Mortgage weathered an industry meltdown by eliminating the practice of funding stated income and sub-prime loans, significantly reducing risk of defaults in its portfolio. By 2008, it received Full Eagle status from the Federal Housing Administration and Housing & Urban Development organizations, allowing the mortgage originator to grow its market share. In 2010, the annual loan originations of Commerce Mortgage had surpassed $825 million. Showing exponential growth by 2013, its annual originations increased to $1.8 billion in its retail division. This year, the company has entered the wholesale lending channel, headquartered in Irvine, Calif. and spearheaded by financial industry veteran, Shabi Asghar. “The evolution and growth of Commerce Home Mortgage over the past 20 years could not have been possible without the dedication and integrity of our team,” expressed Scott Simonich, CEO and founder of Commerce Home Mortgage, at the company’s celebratory dinner last month. “The industry intelligence of our mortgage professionals is one of the company’s assets for which I am most grateful.”
    / %ul.pagination
    /   %li.page-prev
    /     %a{:href => "javascript:void(0)"}
    /       %i.fa.fa-angle-left
    /   %li
    /     %a{:href => "javascript:void(0)"} 1
    /   %li.active
    /     %a{:href => "javascript:void(0)"} 2
    /   %li
    /     %a{:href => "javascript:void(0)"} 3
    /   %li ...
    /   %li
    /     %a{:href => "javascript:void(0)"} 10
    /   %li.page-next
    /     %a{:href => "javascript:void(0)"}
    /       %i.fa.fa-angle-right

= render "page_body"